.select-menu {
  color: #212529;
  text-align: left;
  list-style: none;
  overflow-x: hidden;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
}

.select-trigger {
  width: 180px;
  border: 1px solid lightgray;
  text-align: left;
  padding: 7px;
  font-size: 14px;
  color: #212529;

  &:focus {
    outline: none;
  }
}

.select-menu-inner {
  width: 180px;
  max-height: 128px;
}

.select-search {
  height: 32px;
  display: flex;
  align-items: center;
  padding: 0 7px;

  input {
    border: none;
    width: 100%;
    font-size: 14px;

    &:focus {
      outline: none;
    }
  }
}

.select-item {
  height: 32px;
  display: flex;
  align-items: center;
  padding: 0 7px;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background-color: whitesmoke;
  }

  &.active {
    background-color: deeppink;
    color: #fff;
  }
}
